.middle2{
    margin-left:350px;
    margin-top: 15px;
    display:flex;
    flex-direction: row;
}
.data{
    font-size: 50px;
    margin-left:205px;
}
pre{
    margin-left:205px;
    margin-top: -10px;
    font-size: 20px;
}
.data-image{
    height:40vh;
}.analysis{
    display:flex;
    flex-direction: column;
}
.buttonsheading{
    margin-left: 50px;
}