.middle3{
    margin-left:350px;
    margin-top: 15px;
    display:flex;
    flex-direction: row;
}
.client{
    font-size: 50px;
    margin-left:-5px;
    height:40vh;
    width:35vh;
    margin-top: 155px;
    
}
.work{
    display:flex;
    flex-direction: column;
}
.rating{
    margin-top: 150px;
    margin-left: 200px;
    height: 100px;
    width:200px;
}
.title2{
    font-size: 35px;
    margin-left: 200px;

}
.tittle3{
    margin-left: 200px;
    margin-top: -45px;
    font-size: 20px;
}